.mega-box{
	position: absolute;
	left: 900px;
	width: 20%;
	padding: 0 30px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
    background-color: #fff;
}
.nav-links li:hover .mega-box{
	opacity: 1;
	visibility: visible;
	top: 85px;
    transition: all 0.7s;
}
.content {
	
	border: 10px;
	padding: 25px 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.mega-box-two{
	position: absolute;
	left: 500px;
	width: 59%;
	padding: 0 0 0 30px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
    background-color: #fff;
}
.nav-links li:hover .mega-box-two{
	opacity: 1;
	visibility: visible;
	top: 85px;
    transition: all 0.7s;
}
.content-two {
	
	border: 10px;
	padding: 25px 0 0 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.mega-box-three{
	position: absolute;
	left: 950px;
	width: 35%;
	padding: 0 0 0 30px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
    background-color: #fff;
}
.nav-links li:hover .mega-box-three{
	opacity: 1;
	visibility: visible;
	top: 85px;
    transition: all 0.7s;
}
.content-three {
	
	border: 10px;
	padding: 25px 0 0 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.mega-box-four{
	position: absolute;
	left: 1260px;
	width: 15%;
	padding: 0 0 0 30px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
    background-color: #fff;
}
.nav-links li:hover .mega-box-four{
	opacity: 1;
	visibility: visible;
	top: 85px;
    transition: all 0.7s;
}
.content-four {
	
	border: 10px;
	padding: 25px 0 20px 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;

}